---
http_interactions:
  - request:
      method: get
      uri: https://api.dnsdb.info/lookup/rrset/name/*.farsightsecurity.com/ns/farsightsecurity.com?limit=100&time_last_after=1468281600
      body:
        encoding: US-ASCII
        string: ""
      headers:
        X-Api-Key:
          - "<CENSORED>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Ratelimit-Limit:
          - "500"
        X-Ratelimit-Remaining:
          - "479"
        X-Ratelimit-Reset:
          - n/a
        X-Ratelimit-Expires:
          - "1587230628"
      body:
        encoding: ASCII-8BIT
        string:
          '{"count":115259,"time_first":1575137327,"time_last":1584565201,"rrname":"farsightsecurity.com.","rrtype":"NS","bailiwick":"farsightsecurity.com.","rdata":["ns5.dnsmadeeasy.com.","ns6.dnsmadeeasy.com.","ns7.dnsmadeeasy.com."]}

          '
    recorded_at: Thu, 19 Mar 2020 22:50:22 GMT
recorded_with: VCR 5.1.0
