---
http_interactions:
- request:
    method: get
    uri: https://api.dnsdb.info//lookup/rdata/name/github.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '476'
      X-Ratelimit-Reset:
      - n/a
      X-Ratelimit-Expires:
      - '1587230628'
    body:
      encoding: ASCII-8BIT
      string: |
        {"count":294,"time_first":1582569419,"time_last":1584556391,"rrname":"iscoot.ru.","rrtype":"NS","rdata":"github.com."}
        {"count":442,"time_first":1575140335,"time_last":1584557932,"rrname":"sutangu.ru.","rrtype":"NS","rdata":"github.com."}
        {"count":20,"time_first":1575287359,"time_last":1578779559,"rrname":"poele.app.","rrtype":"NS","rdata":"github.com."}
        {"count":283,"time_first":1575184660,"time_last":1583854822,"rrname":"rzry.xyz.","rrtype":"NS","rdata":"github.com."}
        {"count":10,"time_first":1576589515,"time_last":1580832687,"rrname":"fdpelletsweb.club.","rrtype"[...]
