---
http_interactions:
- request:
    method: get
    uri: https://api.dnsdb.info//lookup/rdata/ip/154.9.205.199
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '475'
      X-Ratelimit-Reset:
      - n/a
      X-Ratelimit-Expires:
      - '1587230628'
    body:
      encoding: ASCII-8BIT
      string: |
        {"count":56,"time_first":1583982411,"time_last":1584018672,"rrname":"jppost-afu.top.","rrtype":"A","rdata":"154.9.205.199"}
        {"count":12,"time_first":1584463821,"time_last":1584492361,"rrname":"jppost-agi.top.","rrtype":"A","rdata":"154.9.205.199"}
        {"count":6,"time_first":1584509576,"time_last":1584521235,"rrname":"jppost-ago.top.","rrtype":"A","rdata":"154.9.205.199"}
        {"count":21,"time_first":1584499570,"time_last":1584521016,"rrname":"jppost-agu.top.","rrtype":"A","rdata":"154.9.205.199"}
        {"count":27,"time_first":1583902132,"time_last":1583939001,"rrname":"jppost-aha.[...]
