---
http_interactions:
  - request:
      method: get
      uri: https://api.dnsdb.info/lookup/rdata/ip/10.0.0.1
      body:
        encoding: US-ASCII
        string: ""
      headers:
        X-Api-Key:
          - "<CENSORED>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Ratelimit-Limit:
          - "500"
        X-Ratelimit-Remaining:
          - "477"
        X-Ratelimit-Reset:
          - n/a
        X-Ratelimit-Expires:
          - "1587230628"
      body:
        encoding: ASCII-8BIT
        string: |
          {"count":3,"time_first":1579169966,"time_last":1579172375,"rrname":"alaa.dubaitourism.gov.ae.","rrtype":"A","rdata":"10.0.0.1"}
          {"count":497,"time_first":1575153099,"time_last":1583740075,"rrname":"mbserv.isbra.am.","rrtype":"A","rdata":"10.0.0.1"}
          {"count":4,"time_first":1580079655,"time_last":1581097017,"rrname":"wlan.pwc.at.","rrtype":"A","rdata":"10.0.0.1"}
          {"count":4,"time_first":1576927838,"time_last":1582365409,"rrname":"idoit.kithost.at.","rrtype":"A","rdata":"10.0.0.1"}
          {"count":10,"time_first":1575560722,"time_last":1582158663,"rrname":"qaproxy.kithost.at.","r[...]
