---
http_interactions:
- request:
    method: get
    uri: https://api.dnsdb.info//summarize/rdata/name/github.com/ANY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '486'
      X-Ratelimit-Reset:
      - n/a
      X-Ratelimit-Expires:
      - '1587230628'
    body:
      encoding: ASCII-8BIT
      string: '{"count":448033,"num_results":256,"time_first":1575138515,"time_last":1584571048}

        '
  recorded_at: Thu, 19 Mar 2020 22:42:58 GMT
recorded_with: VCR 5.1.0
